@font-face
  font-family 'iconfont'
  src url('../fonts/iconfont.eot?t=1554637269225')
  src url('../fonts/iconfont.eot?t=1554637269225#iefix') format('embedded-opentype'), url('../fonts/iconfont.woff?t=1554637269225') format('woff'), url('../fonts/iconfont.ttf?t=1554637269225') format('truetype'), url('../fonts/iconfont.svg?t=1554637269225#iconfont') format('svg')
  /* iOS 4.1- */
.iconfont
  font-family 'iconfont' !important
  font-size 16px
  font-style normal
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
.iconarrow_lift:before
  content '\e601'
.iconcheck_circle:before
  content '\e602'
.iconkeyboard_arrow_right:before
  content '\e603'
.iconadd_circle:before
  content '\e604'
.iconfavorite:before
  content '\e605'
.iconthumb_down:before
  content '\e606'
.iconshopping_cart:before
  content '\e607'
.iconclose:before
  content '\e608'
.iconremove_circle_outline:before
  content '\e609'
.iconthumb_up:before
  content '\e60a'
.iconadd_circle-copy:before
  content '\e60b'
.iconremove_circle_outline-copy:before
  content '\e60c'
.iconthumb_up-copy:before
  content '\e60d'
.iconfavorite-copy:before
  content '\e60e'
.iconshopping_cart-copy:before
  content '\e60f'
